/src/objects/Account.object
/src/objects/Activity.object
/src/objects/Asset.object
/src/objects/Campaign.object
/src/objects/Case.object
/src/objects/Contact.object
/src/objects/Contract.object
/src/objects/Account.object
/src/objects/Activity.object
/src/objects/Asset.object
/src/objects/Campaign.object
/src/objects/Case.object
/src/objects/Contact.object
/src/objects/Contract.object
/src/objects/Lead.object
/src/objects/MessagingEndUser.object
/src/objects/Opportunity.object
/src/objects/Order.object
/src/objects/Product2.object
/src/objects/Solution.object
/src/objects/User.object
