.error {
    background-color: indianred;
}

.smallSingleExampleText {
    font-size: smaller;
}

.pillsStyle {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 4px;
}

.boxForFieldsStyle {
    min-width: 100px;
    min-height: 60px;
}

.tableHeader {
    font-weight: bold;
}

.lvl0 {
    font-weight: bolder;
    background-color: #cecece;
}

.lvl1 {
    font-weight: bolder;
    background-color: #dddddd;
}

.lvl2 {
    font-weight: bolder;
    background-color: #e9e9e9;
}

.lvl3 {
    font-weight: bolder;
    background-color: #f4f4f4;
}


